<h1>WELCOME TO COACH SPEAKER</h1>
<form class="form" action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="What is your question to coach Vahid ?">
  <input type="submit">
</form>




